<h5>List of Ingredients</h5>
<ul>
    <li>
        <label>
            {{!-- The ingredients span text in this section will be populated by the API --}}
            <input type="checkbox" />
            <span>{{recipe-ingredient}}</span>
        </label>
    </li>
    {{!-- <li>
        <label>
            <input type="checkbox" />
            <span>Ingredient 2</span>
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" />
            <span>Ingredient 3</span>
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" />
            <span>Ingredient 4</span>
        </label>
    </li>
    <li>
        <label>
            <input type="checkbox" />
            <span>Ingredient 5</span>
        </label>
    </li> --}}
</ul>