<div class="favoriteSection">
    <h2>Favorite Recipes</h2>
    <br>

    <div class="row">
        <div class="col s12 l3">
            {{#each recipe}}
            <div class="card">
                <div class="card-image">
                    <img src={{recipe-image}} alt="">
                    <a href="" class="halfway-fab btn-floating pink pulse">
                        <i class="material-icons">favorite</i>
                    </a>
                </div>
                <div class="card-content">
                    {{!-- The Name is provided by the API, similar to the recipe section on the main page --}}
                    <span class="card-title">{{recipe-name}}</span>
                    <p>{{recipe-missing-ingredients}}</p>
                </div>
                <div class="card-action">
                    {{!-- This button will take you to the recipe page --}}
                    <a href="/recipe" class="blue-grey-text text-lighten-1">View Recipe</a>
                    <a href="" class="blue-grey-text text-lighten-1">Remove</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>