<nav class="nav-wrapper recipePage transparent z-depth-0">
    <a href="/"><img class="brand-logo" src="./images/mish-mash-icon.png" width="40"
            id="recipePageIcon"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="black-text loginRec valign-wrapper">Home</a></li>
        <li><a href="/favorites" class="black-text favoritesRec valign-wrapper">Favorites</a></li>
        <li><a href="#" class="black-text signupRec valign-wrapper">Log Out</a></li>
        <li><a href="#" class="black-text valign-wrapper"></a></li>
    </ul>
</nav>

<div class="something">
    <div class="row">
        <div class="col l3 listSection">
            {{!-- Ingredient partial will be placed here --}}
            
        </div>
        <div class="col l1"></div>
        <div class="col l8 recipeSection">
            {{!-- This headline is provided by the API --}}
            <h2>Mango Chicken Curry</h2>
            {{!-- The image is provided by the API --}}
            <img src="./images/curry.jpg" width="600">
            <br><br>
            <ul>
                {{!-- The instructions are provided by the API --}}
                <h4>Instructions:</h4>
                <li>1. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
                <li>2. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
                <li>3. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
                <li>4. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
                <li>5. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
                <li>6. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur natus eveniet voluptate
                    impedit.</li><br>
            </ul>
            <button class="btn waves-effect waves-light z-depth-0" id="submit" type="submit" name="action">
                <i class="material-icons right">send</i>
            </button>
            {{!-- This button when clicked will add the recipe information to the favorites section --}}
            <button class="btn waves-effect waves-light z-depth-0" id="favorite" type="submit" name="action">Add to
                Favorites
                <i class="material-icons right">favorite</i>
            </button>
        </div>
    </div>
</div>

<br><br>