<nav class="nav-wrapper recipePage transparent z-depth-0">
    <a href="/"><img class="brand-logo" src="./images/mish-mash-icon.png" width="40"
            id="recipePageIcon"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="black-text loginRec valign-wrapper">Home</a></li>
        <li><a href="/favorites" class="black-text favoritesRec valign-wrapper">Favorites</a></li>
        <li><a href="#" class="black-text signupRec valign-wrapper">Log Out</a></li>
        <li><a href="#" class="black-text valign-wrapper"></a></li>
    </ul>
</nav>

<div class="something">
    <div class="row">
        <div class="col l3 listSection">
            {{!-- Ingredient partial will be placed here --}}

            {{ingredients-list}}
            
        </div>
        <div class="col l1"></div>
        <div class="col l8 recipeSection">
            {{#each recipe}}

            <h2>{{recipe-name}}</h2>
             
            <img src={{recipe-image}} width="600">
            <br><br>

            <ul>
                <h4>Instructions:</h4>
                <li>{{recipe-instructions}}</li><br>
            </ul>

            <button class="btn waves-effect waves-light z-depth-0" id="submit" type="submit" name="action">Add to Favorites
                <i class="material-icons right">favorite</i>
            </button>
            {{/each}}

        </div>
    </div>
</div>

<br><br>
<footer class="page-footer footer">
  <div class="container">
    <div class="row">
      <div class="col l9 s3">
        <img src="./images/mish-mash-logo.png" width="125" alt="Icon" id="footerIcon">
      </div>
      <div class="col l3 s7 offset-s2 valign-wrapper" id="social">
        <ul>
          <li>
            <a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Facebook">
              <i class="fab fa-facebook"></i></a></li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Pinterest">
              <i class="fab fa-pinterest"></i></a></li>
          <li><a href="#" class="btn-floating btn-small social" data-position="bottom" data-tooltip="Twitter">
              <i class="fab fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>